# Data Retrieval From Feature Store

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import hopsworks

In [2]:
project = hopsworks.login()

2025-08-30 11:03:06,598 INFO: Initializing external client
2025-08-30 11:03:06,599 INFO: Base URL: https://c.app.hopsworks.ai:443

2025-08-30 11:03:09,675 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1247380

In [3]:
fs = project.get_feature_store()

In [4]:
final_data = fs.get_feature_group('final_data', version=1)
query = final_data.select_all()
final_merge = query.read(read_options={"use_hive": True})

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (17.25s)

In [5]:
final_merge.head()

,unique_id,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,...,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight
0,3725,10497416,R-2c5432ed,2019-02-10 07:00:00+00:00,2019-02-12 16:54:00+00:00,1,28.818182,6.727273,0.0,51.272727,...,3fff1b6e-e,Brandon Cruz,male,53,23,proactive,6,10497416,59.77,1
1,4299,28978466,R-f8640cff,2019-01-19 07:00:00+00:00,2019-01-19 12:44:24+00:00,0,46.000000,9.000000,0.0,75.000000,...,c3362ffc-f,Brian Garcia,male,49,5,conservative,8,28978466,45.73,0
2,5674,13363106,R-07d2544a,2019-02-02 07:00:00+00:00,2019-02-04 03:04:48+00:00,0,49.888889,5.777778,0.0,67.444444,...,93e44ec9-5,Joel Howard,male,52,17,conservative,7,13363106,52.25,1
3,9783,61984883,R-d87e53cd,2019-02-09 07:00:00+00:00,2019-02-09 20:38:24+00:00,0,80.500000,10.000000,0.0,63.500000,...,42aa7479-5,Jerry Powers,male,41,7,conservative,2,61984883,56.94,0
4,4088,18855810,R-c061582f,2019-02-06 07:00:00+00:00,2019-02-06 19:22:48+00:00,0,22.000000,10.000000,0.0,73.500000,...,728ab9fc-f,John Vasquez,male,47,4,conservative,4,18855810,48.03,0

# Data Processing

In [6]:
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12308 entries, 0 to 12307
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_id                       12308 non-null  int64
 1   truck_id                        12308 non-null  int64
 2   route_id                        12308 non-null  object
 3   departure_date                  12308 non-null  datetime64[us, Etc/UTC]
 4   estimated_arrival               12308 non-null  datetime64[us, Etc/UTC]
 5   delay                           12308 non-null  int64
 6   route_avg_temp                  12308 non-null  float64
 7   route_avg_wind_speed            12308 non-null  float64
 8   route_avg_precip                12308 non-null  float64
 9   route_avg_humidity              12308 non-null  float64
 10  route_avg_visibility            12308 non-null  float64
 11  route_avg_pressure              12308 non-null  float64
 12  route_description               12308 non-null  object
 13  estimated_arrival_nearest_hour  12308 non-null  datetime64[us, Etc/UTC]
 14  departure_date_nearest_hour     12308 non-null  datetime64[us, Etc/UTC]
 15  origin_id                       12308 non-null  object
 16  destination_id                  12308 non-null  object
 17  distance                        12308 non-null  float64
 18  average_hours                   12308 non-null  float64
 19  origin_temp                     12304 non-null  float64
 20  origin_wind_speed               12304 non-null  float64
 21  origin_description              12308 non-null  object
 22  origin_precip                   12304 non-null  float64
 23  origin_humidity                 12304 non-null  float64
 24  origin_visibility               12304 non-null  float64
 25  origin_pressure                 12304 non-null  float64
 26  destination_temp                12308 non-null  float64
 27  destination_wind_speed          12308 non-null  float64
 28  destination_description         12308 non-null  object
 29  destination_precip              12308 non-null  float64
 30  destination_humidity            12308 non-null  int64
 31  destination_visibility          12308 non-null  float64
 32  destination_pressure            12308 non-null  float64
 33  avg_no_of_vehicles              12308 non-null  float64
 34  accident                        12308 non-null  int64
 35  truck_age                       12308 non-null  int64
 36  load_capacity_pounds            11704 non-null  float64
 37  mileage_mpg                     12308 non-null  int64
 38  fuel_type                       12308 non-null  object
 39  driver_id                       12308 non-null  object
 40  name                            12308 non-null  object
 41  gender                          12308 non-null  object
 42  age                             12308 non-null  int64
 43  experience                      12308 non-null  int64
 44  driving_style                   12308 non-null  object
 45  ratings                         12308 non-null  int64
 46  vehicle_no                      12308 non-null  int64
 47  average_speed_mph               12308 non-null  float64
 48  is_midnight                     12308 non-null  int64
dtypes: datetime64[us, Etc/UTC](4), float64(22), int64(12), object(11)
memory usage: 4.6+ MB

In [7]:
final_merge.isna().sum()

unique_id                           0
truck_id                            0
route_id                            0
departure_date                      0
estimated_arrival                   0
delay                               0
route_avg_temp                      0
route_avg_wind_speed                0
route_avg_precip                    0
route_avg_humidity                  0
route_avg_visibility                0
route_avg_pressure                  0
route_description                   0
estimated_arrival_nearest_hour      0
departure_date_nearest_hour         0
origin_id                           0
destination_id                      0
distance                            0
average_hours                       0
origin_temp                         4
origin_wind_speed                   4
origin_description                  0
origin_precip                       4
origin_humidity                     4
origin_visibility                   4
origin_pressure                     4
destination_temp                    0
destination_wind_speed              0
destination_description             0
destination_precip                  0
destination_humidity                0
destination_visibility              0
destination_pressure                0
avg_no_of_vehicles                  0
accident                            0
truck_age                           0
load_capacity_pounds              604
mileage_mpg                         0
fuel_type                           0
driver_id                           0
name                                0
gender                              0
age                                 0
experience                          0
driving_style                       0
ratings                             0
vehicle_no                          0
average_speed_mph                   0
is_midnight                         0
dtype: int64

In [8]:
final_merge[final_merge['origin_temp'].isnull()]

,unique_id,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,...,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight
559,7661,18091756,R-112b790b,2019-01-25 07:00:00+00:00,2019-01-27 02:40:48+00:00,1,66.555556,6.888889,0.000000,90.888889,...,e975a383-c,Neil Herring,male,45,7,proactive,3,18091756,58.02,1
3782,8163,24746768,R-b5f9418a,2019-01-25 07:00:00+00:00,2019-01-27 14:35:24+00:00,0,47.454545,9.090909,0.000000,70.636364,...,3d91387f-2,William Anderson III,male,50,0,conservative,4,24746768,40.69,1
8379,11360,22916520,R-78ee1f97,2019-01-25 07:00:00+00:00,2019-01-28 10:08:24+00:00,0,57.500000,10.142857,0.000000,78.214286,...,ffedbf74-a,Thomas Ochoa,male,57,19,proactive,6,22916520,63.64,1
12077,7721,24654257,R-21472caf,2019-01-25 07:00:00+00:00,2019-01-27 16:50:24+00:00,0,69.000000,12.363636,0.018182,79.181818,...,f110642c-1,Marc Walters,male,47,5,proactive,3,24654257,61.93,1

In [9]:
final_merge[final_merge['origin_humidity'].isnull()]

,unique_id,truck_id,route_id,departure_date,estimated_arrival,delay,route_avg_temp,route_avg_wind_speed,route_avg_precip,route_avg_humidity,...,driver_id,name,gender,age,experience,driving_style,ratings,vehicle_no,average_speed_mph,is_midnight
559,7661,18091756,R-112b790b,2019-01-25 07:00:00+00:00,2019-01-27 02:40:48+00:00,1,66.555556,6.888889,0.000000,90.888889,...,e975a383-c,Neil Herring,male,45,7,proactive,3,18091756,58.02,1
3782,8163,24746768,R-b5f9418a,2019-01-25 07:00:00+00:00,2019-01-27 14:35:24+00:00,0,47.454545,9.090909,0.000000,70.636364,...,3d91387f-2,William Anderson III,male,50,0,conservative,4,24746768,40.69,1
8379,11360,22916520,R-78ee1f97,2019-01-25 07:00:00+00:00,2019-01-28 10:08:24+00:00,0,57.500000,10.142857,0.000000,78.214286,...,ffedbf74-a,Thomas Ochoa,male,57,19,proactive,6,22916520,63.64,1
12077,7721,24654257,R-21472caf,2019-01-25 07:00:00+00:00,2019-01-27 16:50:24+00:00,0,69.000000,12.363636,0.018182,79.181818,...,f110642c-1,Marc Walters,male,47,5,proactive,3,24654257,61.93,1

In [10]:
routes_data = fs.get_feature_group('routes_details_fg', version=1)

routes_data_query = routes_data.select_all()

routes_df = routes_data_query.read(read_options={"use_hive": True})

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (2.72s)

In [11]:
routes_df[routes_df.route_id.isin(['R-112b790b', 'R-78ee1f97','R-b5f9418a', 'R-21472caf'])]

,route_id,origin_id,destination_id,distance,average_hours,event_time
30,R-78ee1f97,C-f8f01604,C-f5ed4c15,3757.02,75.14,2025-07-01 00:00:00+00:00
1460,R-21472caf,C-f8f01604,C-2e349ccd,2892.14,57.84,2025-07-01 00:00:00+00:00
1596,R-112b790b,C-f8f01604,C-d3bb431c,2183.94,43.68,2025-07-01 00:00:00+00:00
1725,R-b5f9418a,C-f8f01604,C-4fe0fa24,2779.33,55.59,2025-07-01 00:00:00+00:00

In [12]:
weather_data = fs.get_feature_group('city_weather_details_fg', version=1)

weather_query = weather_data.select_all()

weather_df = weather_query.read(read_options={"use_hive": True})

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (25.23s)

In [15]:
weather_df[(weather_df.city_id=='C-f8f01604')]

,city_id,date,hour,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder
173,C-f8f01604,2019-01-17 00:00:00+00:00,1200,82.0,11.0,Sunny,0.0,11,6.0,1015.0,0.0,0.0,0.0,0.0
204,C-f8f01604,2019-02-08 00:00:00+00:00,600,59.0,11.0,Sunny,0.0,13,6.0,1015.0,0.0,0.0,0.0,0.0
306,C-f8f01604,2019-01-30 00:00:00+00:00,2200,75.0,7.0,Partly cloudy,0.0,8,6.0,1014.0,0.0,0.0,0.0,0.0
343,C-f8f01604,2019-01-18 00:00:00+00:00,1800,75.0,11.0,Clear,0.0,13,6.0,1013.0,0.0,0.0,0.0,0.0
392,C-f8f01604,2019-02-07 00:00:00+00:00,1800,70.0,9.0,Clear,0.0,9,6.0,1013.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53905,C-f8f01604,2019-01-22 00:00:00+00:00,200,73.0,8.0,Clear,0.0,14,6.0,1012.0,0.0,0.0,0.0,0.0
53912,C-f8f01604,2019-01-17 00:00:00+00:00,1400,84.0,11.0,Sunny,0.0,10,6.0,1013.0,0.0,0.0,0.0,0.0
53918,C-f8f01604,2019-02-02 00:00:00+00:00,100,73.0,9.0,Partly cloudy,0.0,10,6.0,1012.0,0.0,0.0,0.0,0.0
54012,C-f8f01604,2019-01-31 00:00:00+00:00,1700,86.0,10.0,Partly cloudy,0.0,7,6.0,1012.0,0.0,0.0,0.0,0.0
54051,C-f8f01604,2019-02-03 00:00:00+00:00,400,73.0,7.0,Clear,0.0,10,6.0,1011.0,0.0,0.0,0.0,0.0

In [13]:
weather_df[(weather_df.city_id=='C-f8f01604')&(weather_df.date==pd.to_datetime('2019-01-25'))]

Empty DataFrame
Columns: [city_id, date, hour, temp, wind_speed, description, precip, humidity, visibility, pressure, chanceofrain, chanceoffog, chanceofsnow, chanceofthunder]
Index: []

In [14]:
final_merge=final_merge.dropna(subset =  ['origin_temp', 'origin_wind_speed', 'origin_precip',
                                'origin_humidity', 'origin_visibility', 'origin_pressure' ] ).reset_index(drop=True)

In [16]:
final_merge.isna().sum()

unique_id                           0
truck_id                            0
route_id                            0
departure_date                      0
estimated_arrival                   0
delay                               0
route_avg_temp                      0
route_avg_wind_speed                0
route_avg_precip                    0
route_avg_humidity                  0
route_avg_visibility                0
route_avg_pressure                  0
route_description                   0
estimated_arrival_nearest_hour      0
departure_date_nearest_hour         0
origin_id                           0
destination_id                      0
distance                            0
average_hours                       0
origin_temp                         0
origin_wind_speed                   0
origin_description                  0
origin_precip                       0
origin_humidity                     0
origin_visibility                   0
origin_pressure                     0
destination_temp                    0
destination_wind_speed              0
destination_description             0
destination_precip                  0
destination_humidity                0
destination_visibility              0
destination_pressure                0
avg_no_of_vehicles                  0
accident                            0
truck_age                           0
load_capacity_pounds              604
mileage_mpg                         0
fuel_type                           0
driver_id                           0
name                                0
gender                              0
age                                 0
experience                          0
driving_style                       0
ratings                             0
vehicle_no                          0
average_speed_mph                   0
is_midnight                         0
dtype: int64

In [17]:
len(final_merge)

12304