# Data Summary

The dataset consists of **seven tables** as follows:

---

#### 1. `drivers_table`
Contains information about truck drivers (9 fields):
- **driver_id**: unique identification for each driver  
- **name**: name of the truck driver  
- **gender**: gender of the truck driver  
- **age**: age of the truck driver  
- **experience**: experience of the truck driver in years  
- **driving_style**: driving style (`conservative` or `proactive`)  
- **ratings**: average rating on a scale of 1 to 10  
- **vehicle_no**: the truck number  
- **average_speed_mph**: average speed in miles per hour

#### 2. `trucks_table`
Contains information about trucks (5 fields):
- **truck_id**: unique truck identifier  
- **truck_age**: age of the truck in years  
- **load_capacity_pounds**: loading capacity in pounds  
- **mileage_mpg**: mileage in miles per gallon  
- **fuel_type**: type of fuel

#### 3. `routes_table`
Contains route details (5 fields):
- **route_id**: unique route identifier  
- **origin_id**: city ID for the origin city  
- **destination_id**: city ID for the destination city  
- **distance**: distance between origin and destination (miles)  
- **average_hours**: average travel time (hours)

#### 4. `traffic_data`
Contains traffic information for routes on an hourly basis (5 fields):
- **route_id**: route identifier  
- **date**: observation date  
- **hour**: hour of observation (0-23)  
- **no_of_vehicles**: number of vehicles observed  
- **accident**: binary variable indicating if an accident occurred

#### 5. `truck_schedule_table`
Contains historical truck schedule data and delays (5 fields):
- **truck_id**: truck identifier  
- **route_id**: route identifier  
- **departure_date**: departure datetime  
- **estimated_arrival**: estimated arrival datetime  
- **delay**: binary variable (0 = on-time, 1 = delayed)

#### 6. `city_weather`
Contains historical city weather data (14 fields):
- **city_id**: city identifier  
- **date**: observation date  
- **hour**: hour of observation (0-23)  
- **temp(°F)**: temperature in Fahrenheit  
- **wind_speed**: wind speed (mph)  
- **description**: weather description (Clear, Cloudy, etc.)  
- **precip**: precipitation in inches  
- **humidity**: humidity observed  
- **visibility**: visibility in miles  
- **pressure**: pressure in millibar  
- **chanceofrain**: chance of rain  
- **chanceoffog**: chance of fog  
- **chanceofsnow**: chance of snow  
- **chanceofthunder**: chance of thunder

#### 7. `routes_weather`
Contains historical route weather data (13 fields):
- **route_id**: unique route identifier  
- **date**: datetime of observation  
- **temp(°F)**: temperature in Fahrenheit  
- **wind_speed**: wind speed (mph)  
- **description**: weather description  
- **precip**: precipitation in inches  
- **humidity**: humidity observed  
- **visibility**: visibility in miles  
- **pressure**: pressure in millibar  
- **chanceofrain**: chance of rain  
- **chanceoffog**: chance of fog  
- **chanceofsnow**: chance of snow  
- **chanceofthunder**: chance of thunder

In [6]:
import warnings
warnings.filterwarnings('ignore')

# Postgres

In [3]:
import psycopg2
import pandas as pd

postgres_connection = psycopg2.connect(
    user="postgres",           
    password="root",    
    host="localhost",  
    database="truckDB",              
    port="5432"                  
)

In [7]:
routes_df = pd.read_sql("select * from routes_details", postgres_connection)
routes_df.head()

     route_id   origin_id destination_id  distance  average_hours
0  R-ada2a391  C-927ceb5e     C-56e39a5e   1735.06          34.70
1  R-ae0ef31f  C-927ceb5e     C-73ae5412   1498.24          29.96
2  R-4beec5fd  C-927ceb5e     C-4fe0fa24   6078.46         121.57
3  R-8d7a7fb2  C-927ceb5e     C-451776b7   1543.01          30.86
4  R-b236e347  C-927ceb5e     C-d80a1e7d    310.75           6.22

In [8]:
route_weather = pd.read_sql("Select * from routes_weather", postgres_connection)
route_weather.head()

,route_id,Date,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder
0,R-ada2a391,2019-01-01 00:00:00,30.0,11.0,Heavy snow,0.0,90,1.0,1010,0,0,0,0
1,R-ada2a391,2019-01-01 06:00:00,30.0,11.0,Heavy snow,0.0,91,3.0,1012,0,0,0,0
2,R-ada2a391,2019-01-02 00:00:00,28.0,11.0,Cloudy,0.0,91,4.0,1013,0,0,0,0
3,R-ada2a391,2019-01-02 06:00:00,27.0,11.0,Cloudy,0.0,92,6.0,1015,0,0,0,0
4,R-ada2a391,2019-01-03 00:00:00,27.0,9.0,Cloudy,0.0,93,6.0,1016,0,0,0,0

# MySQL

In [10]:
import pymysql
import numpy as np

mysql_connection = pymysql.connect(
     host = "localhost",  
     user = "root",                       
     password = "123456",           
     database = "truckDB"                 
)

In [11]:
trucks_df = pd.read_sql("select * from truck_details", mysql_connection)
trucks_df.head()

   truck_id  truck_age  load_capacity_pounds  mileage_mpg fuel_type
0  42302347         10                3000.0           17       gas
1  27867488         14               10000.0           22    diesel
2  13927774          8               10000.0           19       gas
3  69577118          8               20000.0           19       gas
4  28650047         10                4000.0           21    diesel

In [ ]:
traffic_df = pd.read_sql("select * from traffic_details", mysql_connection)
traffic_df.head()

     route_id        date  hour  no_of_vehicles  accident
0  R-ada2a391  2019-01-01     0           669.0         0
1  R-ada2a391  2019-01-01   100           628.0         0
2  R-ada2a391  2019-01-01   200           516.0         0
3  R-ada2a391  2019-01-01   300           582.0         0
4  R-ada2a391  2019-01-01   400           564.0         0

In [ ]:
schedule_df = pd.read_sql("select * from truck_schedule_data", mysql_connection)
schedule_df.head()

   truck_id    route_id      departure_date     estimated_arrival  delay
0  30312694  R-b236e347 2019-01-01 07:00:00  2019-01-01 13:13:12.      0
1  59856374  R-29ea762e 2019-01-01 07:00:00  2019-01-02 04:01:12.      0
2  12602955  R-a3d67783 2019-01-01 07:00:00  2019-01-01 07:45:36.      0
3  46619422  R-31ec9310 2019-01-01 07:00:00  2019-01-01 20:46:48.      0
4  10140178  R-a07c5dbd 2019-01-01 07:00:00  2019-01-01 21:34:11.      0

In [ ]:
weather_df = pd.read_sql("select * from city_weather", mysql_connection)
weather_df.head()

,city_id,date,hour,temp,wind_speed,description,precip,humidity,visibility,pressure,chanceofrain,chanceoffog,chanceofsnow,chanceofthunder
0,C-927ceb5e,2019-01-01,0,30.0,11.0,Light snow,0.0,86,6.0,1019.0,0.0,0.0,0.0,0.0
1,C-927ceb5e,2019-01-01,100,28.0,12.0,Light snow,0.0,86,5.0,1021.0,0.0,0.0,0.0,0.0
2,C-927ceb5e,2019-01-01,200,28.0,13.0,Moderate snow,0.0,85,4.0,1022.0,0.0,0.0,0.0,0.0
3,C-927ceb5e,2019-01-01,300,28.0,14.0,Moderate snow,0.0,84,3.0,1024.0,0.0,0.0,0.0,0.0
4,C-927ceb5e,2019-01-01,400,28.0,13.0,Moderate snow,0.0,84,3.0,1025.0,0.0,0.0,0.0,0.0